server:
  port: 5080
  forward-headers-strategy: framework

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never

spring:
  profiles:
    default: local
  cloud:
    aws:
      region:
        static: ap-northeast-2

  security:
    oauth2:
      client:
        registration:
          cognito:
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - openid
              - email
              - profile

---
spring:
  config:
    activate:
      on-profile: local
    import: "optional:aws-parameterstore:/tech-gather/local/"

  datasource:
    url: jdbc:mysql://localhost:3306/techgather?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: appuser
    password: apppass
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

---
spring:
  config:
    activate:
      on-profile: prod
    import:
      - "aws-parameterstore:/tech-gather/prod/"

  jpa:
    hibernate:
      ddl-auto: none


