version: "3.8"

services:
  api:
    image: "${DOCKER_REPO}/api-latest"
    container_name: api
    ports:
      - "8888:8888"
    environment:
      SPRING_PROFILES_ACTIVE: prod
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 5s
      timeout: 3s
      retries: 5

  authentication:
    image: "${DOCKER_REPO}/authentication-latest"
    container_name: authentication
    ports:
      - "5080:5080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5080/actuator/health"]
      interval: 5s
      timeout: 3s
      retries: 5
