version: "3.8"

services:
  api:
    image: "${DOCKER_REPO}:api-latest"
    container_name: api
    ports:
      - "8888:8888"
    environment:
      SPRING_PROFILES_ACTIVE: prod
    restart: always

  authentication:
    image: "${DOCKER_REPO}:authentication-latest"
    container_name: authentication
    ports:
      - "5080:5080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
    restart: always
