name: CI/CD Pipeline

on:
  push:
    branches:
      - "feature/*"
      - "development"
      - "master"

  workflow_dispatch:
    inputs:
      target_service:
        type: choice
        description: "배포할 서비스 선택"
        options:
          - api
          - authentication
          - batch
          - collector

jobs:
  detect_changes:
    runs-on: ubuntu-latest
    outputs:
      authentication: ${{ steps.filter.outputs.authentication }}
      api: ${{ steps.filter.outputs.api }}
      batch: ${{ steps.filter.outputs.batch }}
      collector: ${{ steps.filter.outputs.collector }}
      common: ${{ steps.filter.outputs.common }}

    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            auth:
              - 'authentication/**'
            api:
              - 'api/**'
            batch:
              - 'batch/**'
            collector:
              - 'collector/**'
            common:
              - 'application/**'
              - 'domain/**'

  ci:
    needs: detect_changes
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - module: authentication
            gradle_task: build
          - module: api
            gradle_task: build
          - module: batch
            gradle_task: build
          - module: collector
            gradle_task: jar

    if: |
      github.ref_name == 'development' ||
      needs.detect_changes.outputs[matrix.module] == 'true' ||
      needs.detect_changes.outputs.common == 'true'

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Test (${{ matrix.module }})
        run: ./gradlew :${{ matrix.module }}:test

      - name: Build (${{ matrix.module }})
        run: ./gradlew :${{ matrix.module }}:${{ matrix.gradle_task }}

      - name: DockerHub Login
        if: inputs.branch_name == 'master'
        run: |
          docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_PASSWORD }}"

      - name: Docker Build
        if: inputs.branch_name == 'master'
        run: |
          docker build \
            -f ${{ matrix.module }}/Dockerfile \
            -t ${{ secrets.DOCKER_REPO }}:${{ matrix.module }}-latest \
            ./${{ matrix.module }}

      - name: Docker Push
        if: inputs.branch_name == 'master'
        run: |
          docker push ${{ secrets.DOCKER_REPO }}:${{ inputs.image_name }}-latest

  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'

    steps:
      - uses: actions/checkout@v4

      - name: Create SSH key file
        run: |
          echo "${{ secrets.EC2_KEY }}" > ec2_key.pem
          chmod 600 ec2_key.pem
      - name: Upload deploy files
        run: |
          scp -i ec2_key.pem -o StrictHostKeyChecking=no \
            deploy/docker-compose.yml \
            ec2-user@${{ secrets.EC2_HOST }}:/home/ec2-user/tech-gather/
      
          scp -i ec2_key.pem -o StrictHostKeyChecking=no \
            deploy/deploy.sh \
            ec2-user@${{ secrets.EC2_HOST }}:/home/ec2-user/tech-gather/

          scp -i ec2_key.pem -o StrictHostKeyChecking=no deploy/services.json \
            ec2-user@${{ secrets.EC2_HOST }}:/home/ec2-user/tech-gather/

      - name: Deploy on EC2
        run: |
          TARGET="${{ github.event.inputs.target_service }}"
          
          ssh -i ec2_key.pem -o StrictHostKeyChecking=no ec2-user@${{ secrets.EC2_HOST }} "
            cd /home/ec2-user/tech-gather/
            chmod +x deploy.sh
            
            docker login -u '${{ secrets.DOCKER_USERNAME }}' -p '${{ secrets.DOCKER_PASSWORD }}'

            export DOCKER_REPO=${{ secrets.DOCKER_REPO }};
            ./deploy.sh $TARGET
          "
