name: CI

on:
  push:
    branches: [ "feature/cicd"]
  pull_request:
    branches: [ "feature/cicd"]

jobs:

  build-api:
    name: API Docker Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Build API jar
        run: ./gradlew :api:bootJar --no-daemon

      - name: Build API Docker Image
        run: |
          docker build -f api/Dockerfile -t api-ci api/


  build-batch:
    name: Batch Docker Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Build Batch jar
        run: ./gradlew :batch:bootJar --no-daemon

      - name: Build Batch Docker Image
        run: |
          docker build -f batch/Dockerfile -t batch-ci batch/


  build-collector:
    name: Collector Docker Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Build Collector Docker Image
        run: |
          docker build -f collector/Dockerfile -t collector-ci .

  build-authentication:
    name: Authentication Docker Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Build Authentication jar
        run: ./gradlew :authentication:bootJar --no-daemon

      - name: Build Authentication Docker Image
        run: |
          docker build -f authentication/Dockerfile -t authentication-ci authentication/
