name: CI/CD Pipeline

on:
  push:
    branches:
      - "feature/*"
      - "development"
      - "master"

  workflow_dispatch:
    inputs:
      target_service:
        type: choice
        description: "배포할 서비스 선택"
        options:
          - authentication
          - api

jobs:
  detect_changes:
    runs-on: ubuntu-latest
    outputs:
      auth_changed: ${{ steps.filter.outputs.auth }}
      api_changed: ${{ steps.filter.outputs.api }}
      batch_changed: ${{ steps.filter.outputs.batch }}
      collector_changed: ${{ steps.filter.outputs.collector }}
      common_changed: ${{ steps.filter.outputs.common }}

    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            auth:
              - 'authentication/**'
            api:
              - 'api/**'
            batch:
              - 'batch/**'
            collector:
              - 'collector/**'
            common:
              - 'application/**'
              - 'domain/**'

  authentication:
    needs: detect_changes
    if: github.event_name == 'push' && (
      needs.detect_changes.outputs.auth_changed == 'true' || 
      needs.detect_changes.outputs.common_changed == 'true'
      )
    uses: ./.github/workflows/common-build.yml
    with:
      module: "authentication"
      gradle_task: "build"
      docker_context: "authentication"
      dockerfile: "authentication/Dockerfile"
      image_name: "authentication"
      branch_name: ${{ github.ref_name }}
    secrets:
      DOCKER_REPO: ${{ secrets.DOCKER_REPO }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  api:
    needs: detect_changes
    if: github.event_name == 'push' &&  (
      needs.detect_changes.outputs.api_changed == 'true' || 
      needs.detect_changes.outputs.common_changed == 'true'
      )
    uses: ./.github/workflows/common-build.yml
    with:
      module: "api"
      gradle_task: "build"
      docker_context: "api"
      dockerfile: "api/Dockerfile"
      image_name: "api"
      branch_name: ${{ github.ref_name }}
    secrets:
      DOCKER_REPO: ${{ secrets.DOCKER_REPO }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  batch:
    needs: detect_changes
    if: github.event_name == 'push' && (
      needs.detect_changes.outputs.batch_changed == 'true' || 
      needs.detect_changes.outputs.common_changed == 'true'
      )
    uses: ./.github/workflows/common-build.yml
    with:
      module: "batch"
      gradle_task: "build"
      docker_context: "batch"
      dockerfile: "batch/Dockerfile"
      image_name: "batch"
      branch_name: ${{ github.ref_name }}
    secrets:
      DOCKER_REPO: ${{ secrets.DOCKER_REPO }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  collector:
    needs: detect_changes
    if: github.event_name == 'push' && (
      needs.detect_changes.outputs.collector_changed == 'true' ||
      needs.detect_changes.outputs.common_changed == 'true'
      )
    uses: ./.github/workflows/common-build.yml
    with:
      module: "collector"
      gradle_task: "bootJar"
      docker_context: "."
      dockerfile: "collector/Dockerfile"
      image_name: "collector"
      branch_name: ${{ github.ref_name }}
    secrets:
      DOCKER_REPO: ${{ secrets.DOCKER_REPO }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'

    steps:
      - uses: actions/checkout@v4

      - name: Load module config
        id: config
        run: |
          CONFIG=$(base64 -w 0 deploy/modules.json)
          echo "CONFIG=$CONFIG" >> "$GITHUB_OUTPUT"

      - name: Create SSH key file
        run: |
          echo "${{ secrets.EC2_KEY }}" > ec2_key.pem
          chmod 600 ec2_key.pem

      - name: Run deploy script on EC2
        run: |
          TARGET="${{ github.event.inputs.target_service }}"
          
          scp deploy/docker-compose.yml ec2-user@${{ secrets.EC2_HOST }}:/home/ec2-user/deploy/
          
          ssh -i ec2_key.pem ec2-user@EC2_HOST "
            cd /home/ec2-user/deploy;
            export DOCKER_REPO=${{ secrets.DOCKER_REPO }};
            ./deploy.sh $TARGET
          "
