name: Common Build Workflow

on:
  workflow_call:
    inputs:
      module:
        description: "name"
        required: true
        type: string
      gradle_task:
        description: "Gradle task (build or bootJar)"
        required: true
        type: string
      docker_context:
        description: "Docker build context"
        required: true
        type: string
      dockerfile:
        description: "Path to Dockerfile"
        required: true
        type: string
      image_name:
        description: "Docker image name"
        required: true
        type: string
    secrets:
      DOCKER_REPO:
        required: true
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Gradle Build
        run: |
          ./gradlew :${{ inputs.module }}:${{ inputs.gradle_task }} --no-daemon

      - name: Docker Build
        if: github.ref == 'refs/heads/development' || github.ref == 'refs/heads/master'
        run: |
          docker build \
            -f ${{ inputs.dockerfile }} \
            -t ${{ secrets.DOCKER_REPO }}:${{ inputs.image_name }}-latest \
            -t ${{ secrets.DOCKER_REPO }}:${{ inputs.image_name }}-${{ github.sha }} \
            ${{ inputs.docker_context }}

      - name: DockerHub Login
        if: github.ref == 'refs/heads/master'
        run: |
          docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_PASSWORD }}"

      - name: Docker Push
        if: github.ref == 'refs/heads/master'
        run: |
          docker push ${{ secrets.DOCKER_REPO }}:${{ inputs.image_name }}-latest
          docker push ${{ secrets.DOCKER_REPO }}:${{ inputs.image_name }}-${{ github.sha }}
