name: Common Test Workflow

on:
  workflow_call:
    inputs:
      module:
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Run Tests
        run: |
          ./gradlew :${{ inputs.module }}:test --no-daemon
