name: Common Build Workflow

on:
  workflow_call:
    inputs:
      module:
        required: true
        type: string
      gradle_task:
        required: true
        type: string
      docker_context:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
      image_name:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Gradle Build
        run: |
          ./gradlew :${{ inputs.module }}:${{ inputs.gradle_task }} --no-daemon

      - name: Docker Build
        if: github.ref == 'refs/heads/development' || github.ref == 'refs/heads/master'
        run: |
          docker build \
            -f ${{ inputs.dockerfile }} \
            -t ${DOCKER_REPO}:${{ inputs.image_name }}-latest \
            -t ${DOCKER_REPO}:${{ inputs.image_name }}-${{ github.sha }} \
            ${{ inputs.docker_context }}

      - name: DockerHub Login
        if: github.ref == 'refs/heads/master'
        run: |
          docker login -u "${DOCKER_USERNAME}" -p "${DOCKER_PASSWORD}"

      - name: Docker Push
        if: github.ref == 'refs/heads/master'
        run: |
          docker push ${DOCKER_REPO}:${{ inputs.image_name }}-latest
          docker push ${DOCKER_REPO}:${{ inputs.image_name }}-${{ github.sha }}
